git+https://github.com/naya1503/mypyrogram@dev
tgcrypto
uvloop
pytz
psutil
pytgcalls==3.0.0.dev24
motor==3.6.0
dnspython
GitPython
pykeyboard
bs4
Pillow==9.5.0
pymediainfo
opencv-python-headless
requests
unidecode
attrify
pySmartDL
html2text
removebg
aiofiles
aiohttp==3.9.5
gpytranslate
gtts
telegraph
pyromod==1.1
google-generativeai
youtube-search-python
pymongo
yt-dlp
wget
python-dateutil
emoji
rich
ffmpeg-python
tornado
